body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.TituloArribaIzq {
    width: 100%;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    color: white;
    background-color: darkslategray;
    padding-left: 5px;
}

.MenuIzq {
    width: 15%;
    height: 300px;
    margin: 5px;
    display: inline-block;
}

ul {
    list-style: none;
}

.ContenidoPaises {
    width: 80%;
    height: 300px;
    margin: 5px;
    display: inline-block;
    position: absolute;
}

table.apartados {
    width: 100%;
    text-align: center;
}

.bar {

    position: absolute;
    right: 10px;
    top: 60px;
    right: 25px;

}

.links {
    border: 1px solid black;
    display: inline;
    margin-left: 25px;
    border-bottom-color: white;
    background-color: orange;
}

.header_principal{
    background: linear-gradient(dimgray, rgb(54, 54, 54));
    background-color: dimgray;
    margin: 0;
    padding: 20px;
}

.section_mantenimiento {
    background-color: rgb(54, 54, 54);
}

.header_principal>h1 {
    color: azure;
    text-align: center;
    margin: 0;
}

.nav_mantenimiento{
    display: flex;
    justify-content: center;
}

.nav_mantenimiento>ul{
    width: 50%;
    list-style: none;
    padding: 0;
}

.nav_mantenimiento a {
    text-decoration: none;
    background-color: rgb(54, 54, 54);
    color: azure; 
    display: block;
    padding: 10px;
}

.nav_mantenimiento a:hover {
    padding-left: 20px;
    background-color: rgb(90, 90, 90);
}

#Cabecera{
    background-color: black;
    color: white;
}

#menu_lateral{
    display: flex; 
    padding-top:10px;
}
a{
    color: gray;
    text-decoration: none;
}
#formumlario{
    padding:20px;
    padding-left: 116px;
    padding-right: 116px;
}

nav a{
    padding-top:20px;
}
#menu_lateral{
    float: left;
    padding-top:50px;
}
#tableta{
    padding-left:200px;
}
#tableta th{
    padding:10px;
}
#tableta td{
    padding : 10px;
}